.section__title {
	padding-top: $pd-main;

	font-size: 4rem;
	font-weight: 700;
	line-height: 1.1;
	color: var(--color-bl);

	@include breakpoint($tablet-bp) {
		padding-top: $pd-main-tb;
	}

	@include breakpoint($mobile-bp) {
		padding-top: $pd-main-mb;
	}

	&--popular {
		padding: 0;
		margin: 0;

		@include breakpoint($mobile-bp) {
			margin-bottom: 4rem;
		}
	}
}

.section__subtitle {
	font-size: 2.4rem;
	font-weight: 600;
	color: $gray;
}

.section__accordion-icon {
	fill: $black;
}