<div class="modal" id="connectModal">
	<div class="modal__content">
		<button class="modal__close" type="button">
			<svg>
				<use href="#close-icon"></use>
			</svg>
		</button>

		<div class="purchase__img">
			<div class="upload__img upload__img--modal">
				<svg class="upload__icon-wallet">
					<use href="#wallet-icon"></use>
				</svg>
			</div>
		</div>
		<div class="purchase__subtitle purchase__subtitle--connect">You need to connect your wallet first to sign messages and send transaction to Ethereum network</div>

		<div class="purchase__footer">
			<a class="btn btn--big btn--blue mb-10" href="connect.html">Connect wallet</a>
			<button class="btn btn--big btn--light btn-modal-close" type="button">Cancel</button>
		</div>
	</div><!-- /.purchase__content -->
</div><!-- /.purchase -->