<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">

			<div class="footer__header">
				<div class="header__logo-wrapper">
					<img class="header__logo" src="assets/images/logo-icon.svg" alt="logo">
					<span>crypter</span>
				</div>
				<div class="footer__subtitle">
					The New Creative Economy.
				</div>
			</div>

			<div class="footer__col">
				<ul class="footer__list">
					<li class="footer__link">
						<h2 class="footer__link-title">Crypter.</h2>
					</li>
					<li class="footer__link">
						<a href="#">Discover</a>
					</li>
					<li class="footer__link">
						<a href="connect.html">Connect wallet</a>
					</li>
					<li class="footer__link">
						<a href="create.html">Create item</a>
					</li>
				</ul>
			</div>

			<div class="footer__col">
				<ul class="footer__list">
					<li class="footer__link">
						<h2 class="footer__link-title">Info</h2>
					</li>
					<li class="footer__link">
						<a href="#">Download</a>
					</li>
					<li class="footer__link">
						<a href="#">Demos</a>
					</li>
					<li class="footer__link">
						<a href="#">Support</a>
					</li>
				</ul>
			</div>

			<div class="footer__form">
				<ul class="footer__list">
					<li class="footer__link">
						<h2 class="footer__link-title">Join Newsletter</h2>
					</li>
					<li class="footer__link">
						<div class="footer__text">Subscribe our newsletter to get more free design course and resource</div>
					</li>
					<li class="footer__link">
						<form class="form" action="/" method="get">
							<input class="form__input" type="email" placeholder="Enter your email">
							<button class="btn form__btn" type="submit">
								<svg>
									<use href="#arrow-right-icon"></use>
								</svg>
							</button>
						</form>
					</li>
				</ul>
			</div><!-- /.footer__form -->
		</div><!-- /.footer__wrapper -->
		<div class="footer__copyright">
			<div class="footer__copyright-left">Copyright © 2021 UI8 LLC. All rights reserved</div>
			<div class="footer__copyright-right" id="cookies">We use cookies for better service.
				<a href="#" id="cookiesBtn">Accept</a>
			</div>
		</div>
	</div><!-- /.container -->
</footer><!-- /.footer -->