<div class="modal"  id="placeBidModal">
	<div class="modal__content">
		<button class="modal__close" type="button">
			<svg>
				<use href="#close-icon"></use>
			</svg>
		</button>

		<h2 class="purchase__title">Place a bid</h2>
		<div class="purchase__subtitle">You are about to place a bit for C O I N Z from UI8</div>
		<h2 class="purchase__title-bid">Your bid</h2>
		<div class="purchase__price">
			<span class="purchase__info">Enter bid</span>
			<span class="purchase__count">ETH</span>
		</div>
		<div class="purchase__item">
			<span class="purchase__info">Your balance</span>
			<span class="purchase__count">8.498 ETH</span>
		</div>
		<div class="purchase__item">
			<span class="purchase__info">Service fee</span>
			<span class="purchase__count">0 ETH</span>
		</div>
		<div class="purchase__item">
			<span class="purchase__info">Total bid amount</span>
			<span class="purchase__count">0 ETH</span>
		</div>

		<div class="purchase__footer">
			<button class="btn btn--big btn--blue mb-10" type="button">Place a bid</button>
			<button class="btn btn--big btn--light btn-modal-close" type="button">Cancel</button>
		</div>
	</div><!-- /.purchase__content -->
</div><!-- /.purchase -->