<div class="modal" id="purchaseModal">
	<div class="modal__content">
		<button class="modal__close" type="button">
			<svg>
				<use href="#close-icon"></use>
			</svg>
		</button>

		<h2 class="purchase__title">Checkout</h2>
		<div class="purchase__subtitle">You are about to purchase C O I N Z from UI8</div>
		<div class="purchase__price">
			<span>0.007</span><span>ETH</span>
		</div>
		<div class="purchase__item">
			<span class="purchase__info">Your balance</span>
			<span class="purchase__count">8.498 ETH</span>
		</div>
		<div class="purchase__item">
			<span class="purchase__info">Service fee</span>
			<span class="purchase__count">0 ETH</span>
		</div>
		<div class="purchase__item">
			<span class="purchase__info">You will pay</span>
			<span class="purchase__count">0.007 ETH</span>
		</div>

		<div class="warning">
			<div class="warning__title">This creator is not verified</div>
			<div class="warning__subtitle">Purchase this item at your own risk</div>
		</div>

		<div class="purchase__footer">
			<button class="btn btn--big btn--blue mb-10">I understand, continue</button>
			<button class="btn btn--big btn--light btn-modal-close">Cancel</button>
		</div>
	</div><!-- /.purchase__content -->
</div><!-- /.purchase -->
